.about-ipad {
  align-items: center;
  background-color: #f3f3f3; 
  display: flex;
  flex-direction: column;
  height: 2900px;
  position: relative;
  overflow: hidden;
}

.about-ipad .BG-elements {
  height: 3200px;
  align-self: center;
  position: absolute;
  top: 0;
  width: 768px;
}

.about-ipad .overlap-4 {
  height: 3524px;
  position: relative;
}

.about-ipad .footer {
  height: 275px;
  left: 29px;
  position: absolute;
  top: 3163px;
  width: 709px;
}

.about-ipad .start {
  height: 289px;
  left: 29px;
  position: absolute;
  top: 2525px;
  width: 709px;
}

.about-ipad .overlap-group-5 {
  height: 638px;
  position: relative;
}

.about-ipad .rectangle-8 {
  height: 426px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 212px;
  width: 709px;
}

.about-ipad .gradient {
  height: 200px;
  left: 0;
  position: absolute;
  top: 0;
  width: 768px;
}

.about-ipad .if-container {
  width: 768px;
  position: relative;
}

.about-ipad .mouse {
  height: 428px;
  left: 0;
  position: absolute;
  top: 210px;
  width: 768px;
}

.about-ipad .hero {
  height: 607px;
  position: absolute;
  top: 120px;
  width: 768px;
}

.legal-i .section-8 {
  height: 3786px;
  margin-top: -43px;
  position: relative;
  width: 764px;
}

.about-ipad .overlap-5 {
  height: 598px;
  position: relative;
}

.about-ipad .rectangle-9 {
  object-fit: cover;
  width: 709px;
  position: absolute;
  top: 0;
  left: 35px;
}

.about-ipad .gradient-2 {
  height: 300px;
  left: 0;
  position: absolute;
  top: 3px;
  width: 709px;
}

.about-ipad .noize {
  height: 3524px;
  left: 0;
  position: absolute;
  top: 0;
  width: 768px;
}

.about-ipad .nav-spacer {
  height: 151px;
  margin-top: -43px;
  position: relative;
  width: 768px;
}

.about-ipad .main-8 {
  height: 427px;
  margin-top: -43px;
  position: relative;
  width: 760px;
}

.about-ipad .overlap-43 {
  height: 312px;
  left: 66px;
  position: relative;
  top: 121px;
  width: 623px;
}

.about-ipad .ABOUT-US-2 {
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent;
  background: linear-gradient(
    180deg,
    rgb(26, 219, 187) 0%,
    rgb(20, 165, 237) 21.88%,
    rgb(127, 100, 251) 41.67%,
    rgb(243, 50, 101) 61.98%,
    rgb(255, 175, 132) 81.25%,
    rgb(255, 118, 108) 100%
  );
  background-clip: text;
  color: transparent;
  font-family: "Oswald", Helvetica;
  font-size: 137px;
  font-weight: 500;
  left: 0;
  letter-spacing: -6.85px;
  line-height: normal;
  position: absolute;
  text-fill-color: transparent;
  top: 0;
  width: 623px;
}

.about-ipad .linked-in-6 {
  height: 28px;
  left: 7px;
  position: absolute;
  top: 186px;
  width: 28px;
}

.about-ipad .overlap-group-37 {
  height: 29px;
  left: -1px;
  position: relative;
  top: -1px;
  width: 29px;
}

.about-ipad .shadows-m-3 {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.6) 0%, rgba(255, 255, 255, 0) 100%);
  border-radius: 26.16px;
  box-shadow: inset 3.27px 3.27px 2.18px #aeaec033, inset -2.18px -2.18px 2.18px #ffffffb2;
  height: 28px;
  left: 1px;
  mix-blend-mode: color-burn;
  position: absolute;
  top: 1px;
  transform: rotate(-180deg);
  width: 28px;
}

.about-ipad .ellipse-14 {
  height: 29px;
  left: 0;
  position: absolute;
  top: 0;
  width: 29px;
}

.about-ipad .path-3 {
  height: 15px;
  left: 7px;
  position: absolute;
  top: 8px;
  width: 15px;
}

.about-ipad .linked-in-7 {
  height: 28px;
  left: 47px;
  position: absolute;
  top: 186px;
  width: 28px;
}

.about-ipad .linked-in-8 {
  height: 28px;
  left: 87px;
  position: absolute;
  top: 186px;
  width: 28px;
}

.about-ipad .section-19 {
  align-self: center;
  width: 768px;
  height: 590px;
  position: relative;
}

.about-ipad .xion-global-was-3 {
  color: #000000;
  font-family: "Titillium Web", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 75px;
  letter-spacing: 0;
  line-height: 18.2px;
  position: absolute;
  text-align: center;
  top: 103px;
  width: 618px;
}

.about-ipad .text-wrapper-182 {
  color: #000000;
  font-family: "Titillium Web", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 18.2px;
}

.about-ipad .text-wrapper-183 {
  font-weight: 100;
}

.about-ipad .section-20 {
  height: 658px;
  margin-top: -43px;
  position: relative;
  width: 764px;
}

.about-ipad .our-e-commerce-3 {
  color: #000000;
  font-family: "Titillium Web", Helvetica;
  font-size: 16px;
  font-weight: 100;
  left: 73px;
  letter-spacing: 0;
  line-height: 18.2px;
  position: absolute;
  text-align: center;
  top: 164px;
  width: 618px;
}

.about-ipad .FREE-SIMPLE-14 {
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent;
  background: linear-gradient(
    180deg,
    rgb(26, 219, 187) 0%,
    rgb(20, 165, 237) 21.88%,
    rgb(127, 100, 251) 41.67%,
    rgb(243, 50, 101) 61.98%,
    rgb(255, 175, 132) 81.25%,
    rgb(255, 118, 108) 100%
  );
  background-clip: text;
  color: transparent;
  font-family: "Oswald", Helvetica;
  font-size: 36px;
  font-weight: 500;
  left: 206px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  text-fill-color: transparent;
  top: 84px;
  width: 352px;
}

.about-ipad .section-21 {
  height: 366px;
  margin-top: -43px;
  position: relative;
  width: 764px;
}

.about-ipad .FREE-SIMPLE-15 {
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent;
  background: linear-gradient(
    180deg,
    rgb(26, 219, 187) 0%,
    rgb(20, 165, 237) 21.88%,
    rgb(127, 100, 251) 41.67%,
    rgb(243, 50, 101) 61.98%,
    rgb(255, 175, 132) 81.25%,
    rgb(255, 118, 108) 100%
  );
  background-clip: text;
  color: transparent;
  font-family: "Oswald", Helvetica;
  font-size: 36px;
  font-weight: 500;
  left: 258px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  text-fill-color: transparent;
  top: 34px;
  width: 249px;
}

.about-ipad .frame-68 {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 20px 20px;
  justify-content: center;
  left: 73px;
  position: absolute;
  top: 122px;
  width: 618px;
}

.about-ipad .group-24 {
  background-color: #d9d9d903;
  height: 39.23px;
  position: relative;
  width: 107.54px;
}

.about-ipad .vector-38 {
  height: 29px;
  left: 30px;
  position: absolute;
  top: 5px;
  width: 49px;
}

.about-ipad .vector-39 {
  height: 21px;
  left: 16px;
  position: absolute;
  top: 9px;
  width: 78px;
}

.about-ipad .vector-40 {
  height: 25px;
  left: 20px;
  position: absolute;
  top: 7px;
  width: 69px;
}

.about-ipad .vector-41 {
  height: 17px;
  left: 19px;
  position: absolute;
  top: 11px;
  width: 70px;
}

.about-ipad .vector-42 {
  height: 27px;
  left: 28px;
  position: absolute;
  top: 6px;
  width: 51px;
}

.about-ipad .vector-43 {
  height: 17px;
  left: 14px;
  position: absolute;
  top: 11px;
  width: 80px;
}

.about-ipad .vector-44 {
  height: 15px;
  left: 17px;
  position: absolute;
  top: 12px;
  width: 74px;
}

.about-ipad .vector-45 {
  height: 16px;
  left: 14px;
  position: absolute;
  top: 13px;
  width: 80px;
}

.about-ipad .vector-46 {
  height: 11px;
  left: 12px;
  position: absolute;
  top: 16px;
  width: 80px;
}

.about-ipad .vector-47 {
  height: 18px;
  left: 16px;
  position: absolute;
  top: 13px;
  width: 76px;
}

.about-ipad .vector-48 {
  height: 32px;
  left: 31px;
  position: absolute;
  top: 4px;
  width: 46px;
}

.about-ipad .vector-49 {
  height: 15px;
  left: 18px;
  position: absolute;
  top: 14px;
  width: 72px;
}

.about-ipad .vector-50 {
  height: 14px;
  left: 16px;
  position: absolute;
  top: 14px;
  width: 77px;
}

.about-ipad .vector-51 {
  height: 16px;
  left: 16px;
  position: absolute;
  top: 11px;
  width: 77px;
}

.about-ipad .vector-52 {
  height: 31px;
  left: 38px;
  position: absolute;
  top: 5px;
  width: 29px;
}

.about-ipad .vector-53 {
  height: 16px;
  left: 13px;
  position: absolute;
  top: 12px;
  width: 85px;
}

.about-ipad .vector-54 {
  height: 24px;
  left: 30px;
  position: absolute;
  top: 8px;
  width: 47px;
}

.about-ipad .vector-55 {
  height: 14px;
  left: 20px;
  position: absolute;
  top: 13px;
  width: 68px;
}

.about-ipad .section-22 {
  height: 274px;
  margin-top: -43px;
  position: relative;
  width: 764px;
}

.about-ipad .FREE-SIMPLE-16 {
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent;
  background: linear-gradient(
    180deg,
    rgb(26, 219, 187) 0%,
    rgb(20, 165, 237) 21.88%,
    rgb(127, 100, 251) 41.67%,
    rgb(243, 50, 101) 61.98%,
    rgb(255, 175, 132) 81.25%,
    rgb(255, 118, 108) 100%
  );
  background-clip: text;
  color: transparent;
  font-family: "Oswald", Helvetica;
  font-size: 26px;
  font-weight: 500;
  left: 310px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  text-fill-color: transparent;
  top: 84px;
  width: 145px;
}

.about-ipad .frame-69 {
  height: 52px;
  left: 226px;
  position: absolute;
  top: 143px;
  width: 305px;
}

.about-ipad .aaa-ba-e-3 {
  height: 52px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 145px;
}

.about-ipad .img-8 {
  height: 44px;
  left: 185px;
  object-fit: cover;
  position: absolute;
  top: 3px;
  width: 104px;
}

.about-ipad .line-4 {
  height: 1px;
  left: 75px;
  position: absolute;
  top: 74px;
  width: 618px;
}

.about-ipad .overlap-8 {
  height: 154px;
  left: 137px;
  position: absolute;
  top: 145px;
  width: 323px;
}

.about-ipad .text-wrapper-21 {
  color: #e9edf3;
  font-family: "Titillium Web", Helvetica;
  font-size: 66px;
  font-weight: 100;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  width: 224px;
}

.about-ipad .text-wrapper-22 {
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent;
  background: linear-gradient(
    180deg,
    rgb(26, 219, 187) 0%,
    rgb(20, 165, 237) 21.88%,
    rgb(127, 100, 251) 41.67%,
    rgb(243, 50, 101) 61.98%,
    rgb(255, 175, 132) 81.25%,
    rgb(255, 118, 108) 100%
  );
  background-clip: text;
  color: transparent;
  font-family: "Oswald", Helvetica;
  font-size: 66px;
  font-weight: 500;
  height: 79px;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-fill-color: transparent;
  top: 75px;
  white-space: nowrap;
  width: 323px;
}

.about-ipad .footer-section {
  height: 344px;
  position: relative;
  width: 768px;
}

.about-ipad .frame-8 {
  align-items: flex-start;
  display: inline-flex;
  gap: 307px;
  left: 144px;
  position: relative;
  top: 41px;
}

.about-ipad .XG-logo {
  height: 31.84px;
  position: relative;
  width: 155.66px;
}

.about-ipad .sections {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 80px;
  position: relative;
}

.about-ipad .div-6 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 15px;
  position: relative;
}

.about-ipad .text-wrapper-23 {
  color: #e8e8e8;
  font-family: "Titillium Web", Helvetica;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  width: fit-content;
}

.about-ipad .text-wrapper-24 {
  color: #e8e8e8;
  font-family: "Titillium Web", Helvetica;
  font-size: 8px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  width: fit-content;
}

.about-ipad .follow-us {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 33px;
  position: relative;
}

.about-ipad .follow-us-2 {
  height: 81.5px;
  position: relative;
  width: 98.78px;
}

.about-ipad .text-wrapper-25 {
  color: #e8e8e8;
  font-family: "Titillium Web", Helvetica;
  font-size: 8px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 68px;
}

.about-ipad .social {
  align-items: flex-start;
  display: inline-flex;
  gap: 7px;
  left: 0;
  position: absolute;
  top: 35px;
}

.about-ipad .telegram-footer {
  height: 21px !important;
  margin-bottom: -0.49px !important;
  margin-left: -0.5px !important;
  margin-top: -0.51px !important;
  position: relative !important;
  width: 21px !important;
}

.about-ipad .twitter-footer {
  height: 21px !important;
  margin-bottom: -0.5px !important;
  margin-top: -0.5px !important;
  position: relative !important;
  width: 21px !important;
}

.about-ipad .medium-footer {
  height: 21px !important;
  margin-bottom: -0.49px !important;
  margin-top: -0.51px !important;
  position: relative !important;
  width: 21px !important;
}

.about-ipad .linkedin-footer {
  height: 21px !important;
  margin-bottom: -0.49px !important;
  margin-right: -0.5px !important;
  margin-top: -0.51px !important;
  position: relative !important;
  width: 21px !important;
}

.about-ipad .text-wrapper-26 {
  color: #e8e8e8;
  font-family: "Titillium Web", Helvetica;
  font-size: 12px;
  font-weight: 700;
  left: 1px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: -1px;
}

.about-ipad .t-cs {
  height: 17.49px;
  position: relative;
  width: 61px;
}

.about-ipad .overlap-group-6 {
  height: 17px;
  position: relative;
  top: -1px;
}

.about-ipad .text-wrapper-27 {
  color: #e8e8e8;
  font-family: "Titillium Web", Helvetica;
  font-size: 6px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
}

.about-ipad .all-rights-reserved {
  color: #e8e8e8;
  font-family: "Titillium Web", Helvetica;
  font-size: 6px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 8px;
}

.about-ipad .NAV {
  background-color: #f3f3f3;
  height: 120px;
  left: 50%;
  position: fixed; /* Change from 'absolute' to 'fixed' */
  align-self: center;
  top: 0;
  transform: translateX(-50%); /* Center horizontally using transform */
  width: 768px;
  z-index: 1000; /* Add a high z-index to make sure it's above other content */
}

.about-ipad .frame-9 {
  align-items: center;
  display: flex;
  gap: 732px;
  left: 50px;
  position: relative;
  top: 47px;
  width: 1179px;
}

.about-ipad .xion-logo {
  height: 30.71px;
  position: relative;
  width: 156.98px;
}

.about-ipad .frame-10 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 20px;
  justify-content: center;
  margin-right: -0.98px;
  position: relative;
}

.about-ipad .frame-wrapper {
  border-radius: 10px;
  height: 39px;
  position: relative;
  width: 226px;
}

.about-ipad .overlap-group-wrapper {
  background-size: 100% 100%;
  height: 39px;
  overflow: hidden;
}

.about-ipad .get-started-wrapper {
  border: 1px solid;
  border-color: #439be4;
  border-radius: 10px;
  height: 39px;
  position: relative;
  width: 226px;
}

.about-ipad .get-started-3 {
  color: #439be4;
  font-family: "Oswald", Helvetica;
  font-size: 18px;
  font-weight: 400;
  left: 55px;
  letter-spacing: 3.24px;
  line-height: normal;
  position: absolute;
  top: 4px;
}

.about-ipad .div-7 {
  height: 39px;
  position: relative;
  width: 45px;
}

.about-ipad .shadows {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.6) 0%, rgba(255, 255, 255, 0) 100%);
  border-radius: 10px;
  box-shadow: 3.27px 3.27px 6.54px #aeaec066, -2.18px -2.18px 6.54px #ffffff;
  height: 39px;
  left: 0;
  position: absolute;
  top: 0;
  transform: rotate(-180deg);
  width: 45px;
}

.about-ipad .shadows-2 {
  height: 39px;
  left: 0;
  position: absolute;
  top: 0;
  width: 45px;
}

.about-ipad .rectangle-10 {
  -webkit-backdrop-filter: blur(10px) brightness(100%);
  backdrop-filter: blur(10px) brightness(100%);
  border: 2px solid;
  border-color: transparent;
  border-image: linear-gradient(to bottom, rgb(171, 47, 254), rgb(64, 175, 253) 96.88%) 1;
  border-radius: 10px;
  height: 39px;
  left: 0;
  position: absolute;
  top: 0;
  width: 45px;
}

.about-ipad .group-4 {
  height: 18px;
  left: 13px;
  position: absolute;
  top: 10px;
  width: 21px;
}
